html, body, * {
    font-size: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* will not make a box increase w padding */
    /* dont change this */    
} 

.bgc{
    background-image:linear-gradient(blue,purple);
}

.title{
    text-align:center;
    font-size:100px;
}

.container{
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card{
    width: 500px;
    height: 500px;
    border-color:black;
    border: 20px solid black;
    border-radius: 5%;
    display: flex;
    margin: 60px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-header{
    font-size: 100px;
    text-align: center;
}

.card-artist{
    font-size: 100px;
    text-align: center;
}

.card-img{
    width:50%;
    height: auto;
}

.card-album{
    font-size: 50px;
    text-align: center;
}

.btn{
    text-align:center;
    font-size:90px;
}

.form{
    text-align:center;
    
}